.navbar{
   &.schedule-bar {
      li{
         padding: 8px 15px;
         white-space: nowrap;
      }
   }
}

.btn-filter-date-picker {
   border: none;
   padding: 4px 15px;
   padding-right: 10px;
   background: white;
   display: flex;
   align-items: center;
}

.btn-filter-date-picker .filter-text {
   color: #2790F9;
}

.btn-filter-date-picker .filter-icon {
   margin-left: 10px;
   display: flex;
   align-items: center;
}

.overlay-popup {
   background-color: rgba(0, 0, 0, 0.2);
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
}

.date-picker-popup {
   margin: 0 20px;
   position: relative;
   top: 179px;
}

.border-bottom-large {
   border-bottom: 6px solid #F5F5F5;
}

.order-item-container {
   border-bottom: 6px solid #F5F5F5;
   padding: 10px 15px 15px 15px;
   color: #252831;
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.order-item-title-container {
   display: flex;
   justify-content: space-between;
   flex-flow: column nowrap;
}


.order-item-title-container div {
   display: flex;
}

.order-item-title-container-tile01{
   justify-content: space-between;
   flex-flow: row nowrap;
}

.order-item-title-container-tile02{
   margin-top: 6px;
}

.order-item-discount {
   display: flex;
   justify-content: space-between;
}


.order-title {
   font-size: 14px;
   font-weight: 600;
   line-height: 14px;
}

.order-type {
   font-size: 14px;
   font-weight: 500;
   line-height: 14px;
   color: #2790F9;

   &.type-once{color: #2790F9;}
   &.type-weekly{color: #FFC83A;}
   &.type-monthly{color: #3CBDAD;}
}

.text-sm {
   font-size: 14px;
   font-weight: 500;
   line-height: 16px;
}

.text-price {
   color: #2790F9;
}

.text-xsm {
   font-size: 10px;
   font-weight: 500;
   line-height: 16px;
}


.page-schedule{
   .text-price{
      font-weight: 500;
      font-size: 14px;
      color: #252831;
   }
}

.order-store-header{
   &.style01{
      padding: 15px 0px;

      .count-order{
         padding-right: 15px;
      }
   }
}

.page-schedule{
   .order-store-header{
      .btn-filter-date-picker{
         font-size: 12px;
         font-weight: 500;
      }
   }
}