.banner-notify{
   padding-top: 25%;
   position: relative;
   height: 100vh; 
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;

   img{
      object-fit: cover;
      margin-bottom: 15px;
   }

   .notify-wrapper{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      button{
         width: 85%;
      }
   }

   // FOR BUTTON
   .actions{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      button{
         width: 48%;
      }
   }

   // FOR POSITION
   .actions-position{
      display: flex;
      justify-content: center;
      align-items: center;

      button{
         width: 85%;
      }
   }

   .heading{
      font-size: 28px;
      margin-bottom: 8px;
      
      &.style01{
         font-size: 20px;
      }

   }
   .text{
      font-size: 16px;
      &.style01{
         color: #989898;
      }
   }

   // with no button
   &.center{
      padding-top: 0;
      align-items: center;
	   justify-content: center;  
   }
}