.dropdown-order{
	background: white;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
	border-radius: 8px;
	position: absolute;
	z-index: 88;
	overflow-x: hidden;
	overflow-y: scroll;
	
	&.size-half{
		width: calc( 48% - 15px );
	}
	
	&.style-time-table{
		height: 130px;
	}
	&.style-day-table{
      height: auto;
      .dropdown-item{
         justify-content: flex-start;
         &:nth-child(even){
            background: white;
         }
      }
   }

   &.right{
      right: 15px;
   }
   &.left{
      left: 15px;
   }
	
	.dropdown-item{
		padding: 8px 15px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		&:nth-child(even){
			background: #F1F1F1;
		}
		span{
			width: 80px;
			text-align: center;
		}
		
		color: #181E32;
		font-size: 16px;
	}
}