.product-wrapper{

   &.space-bottom{
      padding-bottom: 60px;
   }

	.product-header{
		display: flex;
		flex-flow: column nowrap;
		height: 60vw;
		position: relative;
		
		button{
			width: auto;	
		}
		
		.top{
			height: 56px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
		}
		
		
		.main{
			position: absolute;
			background: #D9D9D9;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		
	}
	
	.entry-product{
		margin-top: 20px;

		.entry-title{
			font-size: 18px;
			font-weight: 600;
		}
		.entry-type{
			font-weight: 400;
			font-size: 12px;
			color: #7B7D83;
		}
		.entry-descriptions{
			color: #3B4249;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.4;
		}
		.entry-price{
			color: #2636EE;
			font-size: 16px;
			font-weight: 500;
         margin-top: 6px;
		}
		.entry-quantity{
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
         margin: 24px 0;
			p{
				color: #252831;
				font-weight: 600;
			}
			.quantity-event{
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: center;
				text-align: center;
				span{
					width: 20px;
               height: 40px;
               &.icon-mins{
                  margin-right: 15px;
               }
               &.icon-plus{
                  margin-left: 15px;
               }
				}
				input{
					font-size: 16px;
					border-radius: 5px;
					text-align: center;
					border: 1px solid #959595;
					width: 90px;
               height: 32px;
				}

            
			}
			
		}
	}
	
	.branding-card{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;
		padding: 25px 0;
		.left{
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			
			.avatar{
				background: #D9D9D9;
				border-radius: 50%;
				overflow: hidden;
				width: 60px;
				height: 60px;
				margin-right: 10px;

            img{
               width: 100%;
            }
			}
			
			.details{
				display: flex;
				flex-flow: column nowrap;
			}
			
			.name{
				font-size: 16px;
				line-height: 1.4;
				font-weight: 600;
			}

         .time-working{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-size: 12px;
            .t-close{
               margin-right: 4px;
            }
            color: #252831;
         }
			
			.meta{
				color: #8F8F8F;
				font-size: 14px;
			}
			
			.ratings{
				margin-right: 22px;
            position: relative;
            padding-left: 18px;
            &:before{
               content: '';
               position: absolute;
               background-image: url('../images/star-icon.png');
               width: 15px; height: 14px;
               left: 0;
               top: 50%;
					transform: translateY(-50%);
               background-repeat: no-repeat;
               background-size: cover;
            }
			}
			.purchase{
				position: relative;
				&:after{
					left: -15px;
					top: 50%;
					transform: translateY(-50%);
					position: absolute;
					content: '';
					width: 3px; height: 3px;
					border-radius: 50%;
					background: #8F8F8F;
				}
			}
			
		}
		button{
			padding: 0;
			padding-top: 15px;
			margin: 0;
			width: auto;
			color: #2636EE;
			font-size: 12px;
		}
	}
	
}

// PRODUCT BOTTOM SHEET
.product-bottom-sheet{
   height: 50px;
   width: 100%;
   background: white;
	box-shadow: 0px -1px 0px #EFEFF4;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
   position: fixed;
   bottom: 0;
   left: 0;
	
	&.no-button{
		padding: 15px 0;
		justify-content: flex-end;
		.price-total{
			margin-right: 15px;
		}
	}
	
	button{
		background: #2636EE;
		color: white;
		font-size: 16px;
		border-radius: 0;
		padding: 16px 0;
		min-width: 160px;
		width: auto;
		margin: 0;
		
		&.btn-chat{
			position: relative;
			background-color: white;
			
         &:after{
            position: absolute;
            content: '';
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            background: #989898;
            height: 50%;
         }
			span{
				color: #2636EE;
			   position: relative;
            &:before{
               left: -35px;
               top: 50%;
               transform: translateY(-50%);
               position: absolute;
               content: '';
               background-image: url('../images/icon-chat.png');
               background-repeat: no-repeat;
               background-size: contain;
               width: 21px;
               height: 21px;
            }
			}
		}
		
		&.no-bg{
			background: none;
			color: #2636EE;
		}
		&.disabled{
			background: rgba(38, 54, 238, 0.5);
		}
	}
	
	.gr-button{
		display: flex;
		flex-flow: row nowrap;
		width: 60%;
		
		button{
			width: 50%;
			min-width: auto;
		}
	}

   &.col3{
      button{
         min-width: auto;
         width: calc( 100% / 3);
      }
   }

   &.col2{
      button{
         width: 50%;
      }
   }
	
	.price-total{
		font-size: 16px;
		margin-left: 15px;
	}
}


.page-product-order{
   .delivery-address{
      position: relative;
      padding: 12px 0;
      &:after{
         @extend .arrow-right;
         top: 21px;
         border-color: #7B7D83;
         border-width: 0 1.5px 1.5px 0;
      }
   }
   .shop-details{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		padding: 8px 0;
		border-bottom: 1px solid #DADADA;
		.logo{
			width: 22px;
			height: 22px;
		}
		.shop-name{
			font-weight: 500;
			padding-left: 5px;
			color: #252831;
		}
		img{
			width: 100%;
		}
	}
	.order{
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		padding: 15px 0;
      justify-content: flex-start;
		span{
			font-size: 14px;
		}
		.quantity{
			color: #A2A2A2;
		}
		.product-title{
			padding-left: 30px;
		}
		.product-subtitle{
			color: #7B7D83;
         font-size: 12px;
		}
      .order-gr{
         display: flex;
         flex-flow: column nowrap;
         padding-left: 30px;
         .product-title{
            padding-left: 0;
         }
      }
		.price{
			padding-left: 30px;
		}
      .order-price{
			margin-left: auto;
         display: flex;
         flex-flow: column nowrap;
         justify-content: flex-start;
         align-items: flex-end;
         .od-price-discount{   
            font-size: 12px;
            color: #918D8D;
            text-decoration: line-through;
         }
      }
	}

   .group-select-delivery-time{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		button{
			text-align: left;
			background: #F5F5F5;
			border-radius: 8px;
			width: 48%;
			color: #181E32;
			font-size: 16px;
			position: relative;
			&:after{
				top: 50%;
				right: 15px;
				content: '';
				position: absolute;
				border: solid black;
				border-width: 0 2px 2px 0;
				display: inline-block;
				padding: 4px;
				transform: translateY(-50%) rotate(45deg);
			}
		}

      .day-table, .time-table{
         z-index: 1;
         top: 40px;
         left: 0;
         

         li{
            padding: 8px; 
            text-align: center;
         }
      }

      .time-table{
         height: 110px;
         li{
            &:nth-child(even){
               background: #F1F1F1;
            }
            span{
               width: 45px;
               padding: 0 5px;
               font-size: 18px;
            }
         }
      }
      .day-table{
         height: auto;
         li{
            padding: 12px 18px;
            font-size: 16px;
            text-align: left;
         }
      }
      .date-table{
         position: absolute;
         width: 100%;
         top: 52px;
         z-index: 1;
      }

      &.static{
         .day-table, .time-table, .date-table{
            display: none;
            &.active{
               display: block;
            }
         }
         .btn-getdate{
            button{
               background: #2636EE;
               text-align: center;
               color: white;
               &:after{display: none;}
            }  
         }
      }

      &.style01{
         flex-flow: column nowrap;
         position: relative;

         .group-button{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
         }
      }
	}

   .group-checkbox{
      display: flex;
      flex-flow: column nowrap;
      font-size: 12px;
      color: #181E32;
   }

}


.button_add_delivery{
   width: auto;
   text-align: left;
   padding: 0;
   position: relative;
   padding-left: 28px;
   color: #2636EE;
   font-size: 14px;
   font-weight: 600;

   &:before{
      top: 0;
      left: 0;
      position: absolute;
      content: '';
      background-image: url('../images/icon-button-add.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 14px; height: 14px;
   }
}

.deliverySelect_monthly, .deliverySelect_weekly{
   display: flex;
   flex-flow: column nowrap;
}

.gr-price{
   display: flex;
   flex-flow: row nowrap;
   align-items: flex-end;
   margin-top: 5px;
   
   .price{
      font-weight: 600;
      color: #2636EE;
      font-size: 14px;
      margin-right: 5px;
   }
   .price-sub{
      color: #918D8D;
      font-size: 10px;
      text-decoration: line-through;
      padding-bottom: 2px;
   }
}