.radio-button {
   position: relative;
   display: inline-block;
   width: 18px; height: 18px;
   border: 1px solid #A2A2A2;
   border-radius: 50%;


   &:after{
      border-radius: 50%;
      position: absolute;
      content: '';
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      width: 45%; height: 45%;
      background: none;
   }

   &.active{
      border-color: #2636EE;
      &:after{
         background: #2636EE;
      }
   }

   &.small{
      width: 14px; height: 14px;
      margin-right: 12px;
   }
}



