:root {
  --primary-blue: #2790F9;
  --primary-red: #FF4848;
  --primary-black: #252831;
  --primary-gray: #F1F1F1;
  --secondary-gray: #7B7D83;
  --primary-white: #FFFFFF;
  --secondary-black: #00000029;
  --primary-border: #DADADA;
  --secondary-border: #A2A2A2;
}